body{
    --var-color:rgb(214, 157, 13);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(9, 9, 9, 0.3),rgba(0, 0, 0, 0.5)),url(image/bg-1.png);
	background-position: center;
    object-fit: cover;
	background-size: cover;
	position: absolute;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul 
{
    display: inline-block;
    list-style: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(159, 152, 152);
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    display: inline-block;
}
nav ul li button
{
    text-decoration: none;
    font-size: 20px;
    color: rgb(159, 152, 152);
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    display: inline-block;
    background: transparent;
    border: none;
}
nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(214, 157, 13);
    transform: scaleX(0);
    transition: transform .25s;
}
nav ul li button::before,
nav ul li button::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(13, 191, 214);
    transform: scaleX(0);
    transition: transform .25s;
}
nav ul li a::before{
    top: -3px;
    transform-origin: left;
}
nav ul li a::after{
    bottom: -3px;
    transform-origin: right;
}
nav ul li button::before{
    top: -3px;
    transform-origin: left;
}
nav ul li button::after{
    bottom: -3px;
    transform-origin: right;
}



nav ul li button:hover::before,
nav ul li button:hover::after{
    transform: scaleX(1);
}
nav ul li a:hover::before,
nav ul li a:hover::after{
    
    transform: scaleX(1);
}
a
{
    text-decoration: none;
    color: rgb(117, 115, 115);
    /* font-size: 28px; */
    
}
#profile{
    margin-right: 60px;
    float: right;
    font-size: 38px;
    font-weight: 600;
    opacity: 0.5;
    position: relative;
    color: #be7312;
}
#profile::before{
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px #be7312;
    filter: blur(10px)brightness(0);
    animation: flicker 4s infinite;
    animation-delay: 1s;
}
@keyframes flicker{
    0%{
        filter:blur(5px) brightness(1);
    }
    3%{
        filter:blur(5px) brightness(0);
    }
    6%{
        filter:blur(5px) brightness(0);
    }
    7%{
        filter:blur(5px) brightness(1);
    }
    8%{
        filter:blur(5px) brightness(0);
    }
    9%{
        filter:blur(5px) brightness(1);
    }
    10%{
        filter:blur(5px) brightness(0);
    }
    20%{
        filter:blur(5px) brightness(1);
    }
    50%{
        filter:blur(5px) brightness(1);
    }
    99%{
        filter:blur(5px) brightness(0);
    }
    100%{
        filter:blur(5px) brightness(1);
    }
}

/* #login-form
{
    display: none;
} */
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:#be7312;
	padding:10px;
    overflow: hidden;
    border-radius:8px;
}
.form-box::before{
    content:"";
    position: absolute;
    inset:-80px;
    background-image: conic-gradient(#1a1918 360deg,transparent 360deg);
    animation: rotate 10s linear infinite;
}
.form-box::after{
    content:"";
    /* position: absolute; */
    inset:6px;
    background-image: url("...");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
@keyframes rotate{
    to{
    transform:rotate(-360deg);
    }
}
.button-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

#toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    /* color: #F3C693; */
    font-size: 13px;
    font-weight: 600;
}
#toggle-btn1
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
    color: #F3C693;
    font-size: 13px;
    font-weight: 600;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .3s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
    transition: all 0.3s ease;
    
}



.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;

    
}
.submit-btn:hover{
    background: transparent;
    border: 1px solid #be7312;
    color: #F3C693;
    transform: skewX(5deg);
}

.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}

